body{
	margin-top: 100px;
	background-color: #ECF0F5;
}
.navbar-default{
	background-color: #00E76D;
	margin: 0;
	border: none;
}
.navbar-nav>li{
	padding-top: 5px;
}
.navbar-nav>li>a{
	margin-top:10px;
}
#dropdown-menu-1{
	background-color: #00E76D;
}
.navbar-default .navbar-nav .open .dropdown-menu>li>a{
	color: white;
}

.clear{
	overflow: auto;
}
.border-table{
	border: 0.5px solid black;
}
.table-striped>tbody>tr:nth-of-type(even){
	background-color: #ECECEC;
}
.chart{
	height: 500px;
}
#chart{
	margin-top: 50px;
	margin-bottom: 50px;
}
.navbar-default .navbar-nav>li>a:hover{
	background-color: #88f193e0;
}

hr{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(57,86,118, 0.80), rgba(0, 0, 0, 0));
}
.today{
	font-size: 15px;
}